[data-theme="dark"] body.list {
    background-image: url('/images/background.svg');
    background-size: cover;
    background-position: right;
}

.profile img {
  border-radius: 0;
}

@font-face {
  font-family: 'Funkrocker';
  src: url('/fonts/Funkrocker.otf') format('truetype');
}

.logo a {
  font-style: oblique;
  font-family: Funkrocker;
  letter-spacing: 0.075em;
  color: #fe0f24;
}